POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
TEST_URL=https://geostat.ge/media/78621/samomxmareblo-fasebis-indeqsebi-2010-wlis-sashualo%3D100.xlsx
